/* ustawienia globalne */

*{
    box-sizing: border-box;
}

html{
    font-size:14px;
    background-color: blue;
    color: white;
}

a{
    color: red;
    text-decoration: none;
    font-weight: bolder;
}

h1{

}

/* Strona home.html */

.container{
    margin: 20px;
    padding: 20px;
}

.forum{
    margin-top: 20px;
}

.forum-title{
    background-color: brown;
    padding-left: 5px;
    border-radius: 5px;
    margin: 4px;
}

.forum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.forum-columns{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: darkgreen;
}

.forum-description{
 
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* menu wyboru ziomuś */

header{
    margin-inline: 12px;   
}

.navbar{
    display: flex;
    align-items: center;
}

.navigation{
    background-color:cadetblue;
    padding: 12px;
    width: 65%;
    border-radius: 2px;
    max-height: 10px;
    margin-right: 10px;
}

.navbar-list{
    list-style-type: none;
    overflow: hidden;
}

.navbar-items a{
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20 px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.navbar-items a:hover{
    background-color: black;
}

.icon-of-closing i{
    font-size: 60px;
    float: left;
    cursor: pointer;
}

.hide{
    display: none;
}

.navbar-bar-icon {
    font-size: 60px;
    display: inline-block;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.brand-logo{
    font-size: 60px;
    display: inline-block;
}

/* Wyszukiwarka gościu */
.searching{
    border:solid 1px pink ;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    
}

.searching select{
    padding: 10px;
}

/* Staty */
.someinfo{
    padding: 20px;
    background-color: black;
}

/*strona własciwa forum z postami*/
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: blueviolet;
}

.table-head .status{
    flex: 5%;
}
.table-head .subject{
    flex: 70%;
}
.table-head .replies-and-views{
    flex: 10%;
}
.table-head .last-reply{
    flex: 15%;
}

.table-row{
    display: flex;
}

.table-row .status, .table-row .subject, .table-row .replies-and-views, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: coral;
}

.table-row .status{
    flex: 5%;
}
.table-row .subject{
    flex: 70%;
}
.table-row .replies-and-views{
    flex: 10%;
}
.table-row .last-reply{
    flex: 15%;
}

.site-num{
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

.site-num a{
    color: aqua;
    margin-inline: 5px;
    padding: 5px 10px;
    
}

/*Strona - szczegoly posta */

.head{
    display: flex;
    background-color: crimson;
    padding: 5px;
}

.author{
    flex: 20%;
}

.content{
    flex:80%
}

.body{
    display: flex;
    background-color:goldenrod;
    padding: 10px;
    margin-top: 5px;
}

.body .author .username{
    font-size: 20px;
}

.body .author img{
    max-width: 49px;
    max-height: 78px;
}

.body .content .comment button{
    border: none;
    padding: 10px;
    cursor: pointer;
    float: right;
}

.comment-here{
    margin-top: 50px;
}

.comment-here textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-here input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.com-container{
    margin-top: 20px;
}
