{% extends 'base.html' %}

{% block content %}



    <div class="container">
        <div class="forum">
            <div class="forum-title">
            <h1>Informacje</h1>
        </div>

        {% for forum in forums  %}

        <div class="forum-row">
            <div class="forum-icon forum-columns center">
                <i class="trzeba tu dodac jakas graficzke dawg"><img src="" alt="buont"></i>
            </div>
            <div class="forum-description forum-columns">
                <h1><a href="{{forum.get_url}}">{{forum.title}}</a></h1>
                <p>Opis: {{forum.discription}}</p>
            </div>
            <div class="forum-statistics forum-columns center">
                <span>{{forum.num_posts}} postów </span>
            </div>
            <div class="forum-information forum-columns">
               <b><a href="{{forum.last_post.get_url}}">Ostatni post</a></b> został zamieszczony przez <a href="">{{forum.last_post.user.fullname | title}} </a> 
            <br>
            W dniu: {{forum.last_post.date | date}}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="someinfo">
        <div class="stats">
            Forum o wszystkim i o niczym zanotowało: 
        </div>
        <div>
            <span>5 mln postów | 2 mln tematów | 20 mln użytkowników</span> 
        </div>
    </div>

    {% endblock content %}