{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}
    <div class="container">
        <div class="posts-table">
            <div class="table-head">
                <div class="status">status</div>
                <div class="subject">temat</div>
                <div class="replies-and-views">odpowiedzi</div>
                <div class="last-reply">ostatnia odpowiedz</div>
            </div>

            {% for post in posts %}
            <div class="table-row">
                <div class="status" >
                    tu tez jakis obrazek by sie przydal
                </div>
                <div class="subject">
                    <a href="{{post.get_url}}">{{post.title}}</a><br> Dodane przez: <a href="#">Jay-Z</a>   
                </div>
                <div class="replies-and-views">
                    {{post.num_comments}} odpowiedzi i {% get_hit_count for post %} wyświetlen
                </div>
                <div class="last-reply">
                    {{post.last_reply.date|date}} przez <a href="#">{{post.last_reply.user.fullname|title}}</a>  
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="site-num">Nawigacja Stron: 
            <br> <a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#"></a>
        </div>
    </div>

    {% endblock content %}