{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}
 
    <div class="top-container">
        <div class="head">
            <div class="author">Autor</div>
            <div class="content">Temat: {{post.title}} ({%get_hit_count for post %} wyświetleń)</div>
        </div>

        <div class="body">
            <div class="author">
                <div class="username"><a href="#">{{post.user.fullname|title}}</a></div>
                <div>Ranga</div>
                <img src="{{post.user.profile_pic.url}}" alt="tu powinno byc zdjecie profilowe uzytkownika">
                <div></div>
            </div>
            <div class="content">{{post.content|safe}}</div>
        <div class="comment"><button onclick="ShowMeCommentPlace()">Dodaj komentarz</button></div>
        </div>
        <div class="comment-here hide" id="kom">
            <textarea name="Komentarz" id="" placeholder="Napisz swój komentarz tutaj..."></textarea>
            <input type="submit" name="" id="" value="Dodaj">
        </div>
    </div>

    <!--Komentaszzzzz-->

    <div class="com-container">
        <div class="head">
            <div class="author">Autor</div>
            <div class="content">Komentarz</div>
        </div>

        <div class="body">
            <div class="author">
                <div class="comUsername"><a href="#">Krokiet47</a></div>
                <div>Ranga</div>
                <img src="zdjecieinnegousera.jpg" alt="tu powinno byc zdjecie profilowe uzytkownika">
                <div></div>
            </div>
            <div class="content">Cześć, myślę, że niezły z ciebie zdzichu. Pal gume. Fajnie, że wpadłeś. Ile masz lat? tego typu kot na grzałce. ku de mą. Wena jest king konga </div>
        <div class="comment"><button onclick="ShowMeReplyPlace()">Odpowiedz temu użytkownikowi</button></div>
        </div>
        <div class="comment-here hide" id="kom">
            <textarea name="Komentarz" id="" placeholder="Napisz swój komentarz tutaj..."></textarea>
            <input type="submit" name="" id="" value="Dodaj">
        </div>
    </div>

<!--Komentarz komentarza :p-->

<div class="reply-here hide" id="odp">
    <textarea name="Odpowiedz" id="" placeholder="Odpowiedz..."></textarea>
    <input type="submit" name="" id="" value="Dodaj">
</div>

{% endblock content %}